.container-login-form{
    position: absolute;
    top: 0%;
    right: 0%;
    left: 75%;
    bottom: 0px;
    background-color:#FFFFF0;
    padding:20px;
}

.formTitle{
    font-size: 50px;
    font-weight: 800;
}

form div{
    padding-bottom: 5%;
}

body{
    color: lightcyan;
    background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/how-to-wrap-a-gift-1568128224.jpg') no-repeat fixed;
}
